@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#quiz-form {
  margin: 1rem auto 2rem;
  width: 100%;
  max-width: 700px;
}

.quiz-container {
  margin: 1rem auto 2rem;
  text-align: center;
}

.input-label {
  display: inline;
  margin: 1.2rem;
  margin-top: 1.2rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation .link-active {
    font-weight: bold;
}

.link {
    box-sizing: border-box;
    color: #F3F4F6;
    padding: 0.5rem 1rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px
}

.navigation .nav-pills {
    text-align: right;
}

h1 {
  text-align: center;
  font-weight: 700;
}

:root {
  --primary-color: #7c3;
  --off-white: #F3F4F6;
}


.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.navigation .nav-brand {
    font-weight: bold;
}

.container {
    padding: 0rem 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}

label {
    font-size: large;
    margin: auto;
}

input {
    margin-top: 1rem;
}

#submit-btn {
  display: block;
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
}

#output-box {
  display: block;
  text-align: center;
  margin-top: 30px;
}